* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url(../assets/images/sq-lim-8j_PDg45Kgw-unsplash.jpg);
  background-position: top;
  padding-bottom: 14rem;
}

.lampu-lalu-lintas {
  background-color: #3d3d3d;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 12px;
  border-radius: 18px;

  position: relative;
}

.tiang {
  background-color: #3d3d3d;
  left: 23%;
  bottom: 0;
  position: absolute;
  width: 40px;
  height: 220px;
  transform: translate(50%, 100%);
}

.merah {
  background-color: maroon;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.kuning {
  background-color: #615400;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.hijau {
  background-color: #005826;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.merah-nyala {
  background-color: rgb(255, 0, 0);
}

.kuning-nyala {
  background-color: #ffdd00;
}

.hijau-nyala {
  background-color: #00ff6e;
}
